.container {
  display: flex;
  flex-direction: column;
  /* margin: auto; */
}

.sections {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
}

.container h1 {
  font-weight: bold;
  font-size: 22px;
}
