.menu {
  flex-direction: column;
  justify-content: center;
  top: 30px;
}

.menuSection {
  top: 30px;
}

.notUpdatedMessage {
  margin: 0 auto;
  text-align: center;
}

.photoHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  place-content: center;
  min-height: 30vh;
  max-height: 40vh;
  /* background-position: center; */
  background-attachment: no-repeat;
  background-attachment: fixed;
  background-image: url('https://res.cloudinary.com/dq6rqplja/image/upload/v1682348015/SUB500/HEADER_IMAGE_WIDE_jni1af.jpg');
  background-size: 100% auto;
  /* background-size: cover; */
  /* min-height: fit-content; */
}

@media (max-width: 640px) {
  .photoHeader {
    background-attachment: initial;
    background-size: 100% 100%;
  }
}
