/* ALL STYLING CURRENTLY IS LARGE SCREEN ONLY */
.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(179, 179, 179, 0.481);
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100dvh;
  width: 100dvw;
  margin: auto;
  z-index: 0;
  position: fixed;
  inset: 0;
}

.formContainer {
  background-color: beige;
  margin: auto;
  padding: 2rem;
  position: relative;
  border-radius: 1.5rem;
}

.inline-icon {
  display: inline;
  margin: 0 0.125em;
  padding: 0;
  vertical-align: baseline;
}

.section-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/* Form STYLING BELOW
*/
.input-label {
  font-size: 0.8rem;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 0.5rem;
}

.small-text-input {
  width: 25%;
  max-width: 100%;
  padding-left: 0.5rem;
  /* margin-bottom: 0.5rem; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* width: 100%; */
}

/* .form-fields {
  display: flex;
  flex-direction: column;
} */
.text-fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
}

.input-box {
  font-size: 1.2rem;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.01);
  text-align: center;
}

.two-col-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* .two-col-fields {
  width: 100%;
  text-align: center;
} */

.close-button {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: rgb(255, 51, 51);
  border-radius: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.close-button:hover {
  background-color: rgb(147, 47, 47);
}
