.footer {
  margin-top: 2rem;
  background-color: hsl(37, 100%, 11%);
  /* background-color: #ede4d1; */
  padding-block: 3rem;
  color: #ede4d1;
}

/* .footer > * > * > * {
  outline: 2px solid #ff0000;
} */

.container {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width, 100% - var(--padding) * 2), 100%);
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.email-input {
  margin: auto;
  border-radius: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color: rgb(44, 43, 43);
}

.button {
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 80vmax;
  padding: 0.5rem 0.5em;
  font-weight: 600;
  line-height: 1;
  color: hsl(0, 0%, 100%);
  background-color: hsla(44, 94%, 58%, 0.592);
}

:where(.flow :not(:first-child)) {
  /* margin-block-start: 0.2rem; */
  margin-top: var(1rem, 3rem);
}

.logo {
  max-width: 100%;
  height: auto;
}

/* footer nav */
.primary-footer-nav {
  columns: 2;
  align-items: center;
}
.primary-footer-nav a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.footer-nav-wrapper {
  margin-inline: auto;
}

.primary-footer-nav a:is(:hover, :focus) {
  text-decoration: underline;
}

.primary-footer-form {
  display: grid;
  align-content: space-between;
}

.logo-container {
  width: 80%;
  max-width: 200px;
  margin: auto;
  margin-top: -1rem;
}

.social-media {
  margin: auto;
  margin-top: -1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.social-media li {
  list-style: none;
  margin-right: 1rem;
}

.social-media li:is(:hover, :focus) {
  color: hsl(57, 100%, 35%);
  scale: 1.2;
}

.legal {
  font-size: 0.6rem;
  max-width: calc(var(--max-width) * 0.9);
  text-align: end;
  margin-right: 2rem;
  /* margin-bottom: -2rem; */
}

@media (max-width: 50em) {
  .logo {
    object-fit: contain;
    display: block;
    max-width: 200px;
    height: auto;
    /* padding-inline-start: 10%; */
    margin-inline: auto;
  }
}

@media (max-width: 640px) {
  .legal {
    text-align: center;
  }
}

/* to adjust for other grid section centering stating at 800px */
@media (max-width: 800px) {
  .primary-footer-form {
    margin-inline: auto;
  }
}
