/* @media (max-device-width: 640px) { */
  .modalContainer {
    z-index: 300;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(250, 216, 174, 0.41);
    background-color: rgba(103, 103, 103, 0.41);
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .detailsContainer {
    position: relative;
    /* display: block; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    max-width: 1280px;
    max-height: 80vh;
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    filter: drop-shadow(0 0 0.75rem rgba(125, 106, 109, 0.435));
    padding: 2rem .5rem 2rem .5rem;
  }

  .itemHeader {
    font-size: 1.2em;
  }

  .imageContainer {
    position: relative;
    width: 100%;
    height: 20vh;
  }
/* } */

.closeButton {
  z-index: 300;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.3rem;
}

.closeButton:hover {
  z-index: 300;
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(250, 159, 23);
  font-size: 1.3rem;
}

.addToCartButton {
  z-index: 301;
  border-radius: 10px;
  padding: 2px 20px 2px 20px;
  background-color: rgb(255, 171, 87);
  margin-top: 10px;
  font-size: 1rem;
}

.addToCartButton:hover {
  z-index: 301;
  border-radius: 10px;
  padding: 2px 20px 2px 20px;
  background-color: rgb(247, 184, 67);
  margin-top: 10px;
  font-size: 1rem;
}