.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 74px;
}

.categoryContainer {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  /* justify-content: space-between; */
  align-items: center;
  align-content: center;
  margin: 0 0 0.5rem 0;
  padding: 3px;
  border: 1px solid #ccc;
  transition: all 0.2s ease-in-out;
  overflow-x: wrap;
  transition: transform 500ms;
}

.categoryContainer:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transform: scale(1.05);
}

/* @media (max-device-width: 500px) { */
@media (max-width: 640px) {
  .categoryContainer {
    /* display:none; */
    /* padding:none; */
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin-left: 2px;
    line-height: initial;
    display: flex;
  }

  .categoryContainer:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
  }

  .categoryContainer:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 10px;
  }

  .categoryContainer:hover {
    box-shadow: none;
    transform: none;
  }

  .categoryContainer:active {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transform: scale(1.05);
    transition: transform 250ms;
    transition-timing-function: ease-out;
  }

  /** Turns the menu filter into a horizontal slider that stays above the*/
  .box {
    /* width: 100%; */
    z-index: 900;
    display: flex;
    flex-direction: row;
    margin: 0;
    position: sticky;
    top: 40px;
    align-self: flex-start;
    overflow-x: auto;
    white-space: nowrap;
    height: 3em;
    scroll-snap-align: end;
    padding-bottom: 3px;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07));
  }

  .checkbox input[type='checkbox'] {
    display: none;
  }

  .checkbox {
    display: none;
  }
}
