/* w-3/12 flex-col m-3 sticky top-0 self-star */
.box {
	width: 100%;
  display: flex;
  flex-direction: column;
  /* margin: .75rem; */
  position: sticky;
  top: 0;
  /* align-self: flex-start; */
}

.categoryContainer {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  /* justify-content: space-between; */
  align-items: center;
  align-content: center;
  margin: 0 0 .5rem 0;
  padding: 3px;
  border: 1px solid #ccc;
  transition: all 0.5s ease-in-out;
  overflow-x: wrap;
}

.categoryContainer:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transform: scale(1.05);
}

@media (max-device-width: 500px) {
  .categoryContainer {
    /* display:none; */
    /* padding:none; */
    padding: 2px;
    margin: none;
    line-height: initial;
     display: flex;
    /* flex-direction: column; */
  }

  /** Turns the menu filter into a horizontal slider that stays above the
  */
  .box {
    /* width: 100%; */
    z-index: 900;
    display: flex;
    flex-direction: row;
    margin: 0;
    position: sticky;
    top: 0;
    align-self: flex-start;
    overflow-x: auto;
    white-space: nowrap;
    height: 3em;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  .checkbox input[type="checkbox"] {
    display: none;
  }

  .checkbox {
    display:none;
  }
}